[submodule "src/pypkg"]
	path = src/pypkg
	url = git@github.com:anjos/pypkg
[submodule "src/blitz.array"]
	path = src/blitz.array
	url = git@github.com:anjos/blitz.array
[submodule "src/xbob.buildout"]
	path = src/xbob.buildout
	url = git@github.com:bioidiap/xbob.buildout
