; vim: set fileencoding=utf-8 :
; Andre Anjos <andre.anjos@idiap.ch>
; Mon 16 Apr 08:29:18 2012 CEST

[buildout]
parts = blitz.array xbob.core scripts
eggs = xbob.core
       ipdb
extensions = mr.developer
auto-checkout = *
prefixes = /Users/andre/work/bob/b/dbg
debug = true
verbose = true

[sources]
xbob.buildout = fs xbob.buildout
pypkg = fs pypkg

[blitz.array]
recipe = xbob.buildout:develop
setup = src/blitz.array
eggs = pypkg

[xbob.core]
recipe = xbob.buildout:develop
eggs = blitz.array pypkg

[scripts]
recipe = xbob.buildout:scripts
